<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>License Holders</title>
    <link rel="stylesheet" th:href="@{/DisplayAfterSearch.css}" href=""> 
</head>
<body>

  <h2 align="center">License Holders</h2>
  <a href="/admin/DisplayRecords">Back</a>
  <div class="container">
    <div th:each="dL : ${displayLicense}" class="card">
      <div class="box">
        <div class="content">
         
           <h3><b th:text="${dL.licenseNumber}">Full Name</b></h3>
          <h3><b th:text="${dL.fullName}">Full Name</b></h3>
          <p th:text="${dL.age}">Age</p>
          <p th:text="${dL.aadharNumber}">Aadhar Number</p>
          <p th:text="${dL.mobileNumber}">Mobile Number</p>
          <p th:text="${dL.bloodGroup}">Blood Group</p>
          <p th:text="${dL.state}">State</p>
          <p th:text="${dL.address}">Address</p>
          <p th:text="${dL.dateOfIssue}">Date Of Issue</p>
          
       </div>
      </div>
    </div>
  </div>
</body>
</html>
